<div class="h-screen flex flex-grow justify-around">
    <div class="h-screen w-1/2 p-7">
     <div class="p-8"><p class="text-gray-400 text-4xl md:text-6xl font-black text-center">Login</p></div>
     <div>
        <div>
            <div class="w-full" (click)="changeProducer()">
               <p class="text-gray-800 text-3xl font-semibold">Producer</p>
               <div *ngIf="ActiveProducer">
                   <app-producer-login></app-producer-login>
               </div>
            </div>
           <div class="w-full" (click)="changeAdmin()">
               <p class="text-3xl text-gray-800 font-semibold">Admin</p>
               <div *ngIf="ActiveAdmin">
                   <app-admin-login></app-admin-login>
               </div>
           </div>
           <!-- <div>
               <p></p>
           </div> -->
        </div>   
     </div>
    </div>
</div>