<body>
    <div class="flex justify-between">
     <div class="flex">
      <div>Download data users</div>
      <div>New user</div>
     </div>
     <div class="flex">
      <div>Download user template</div>
      <div>New users</div>
     </div>
    </div>
    <div class="flex flex-wrap justify-center text-center">
     <h2 class="w-2/3">List of users for the event</h2>
     <p class="w-2/3">aqui debe venir la lista de usuarios para el evento
      recordar que debe venir tambien la validacion de si hay usuarios para este evento o no, en caso de que no. se debe poder 
      subir una carga completa desde un excel
     </p>
    </div>
</body>
