<body class="h-96">
    <div class="h-full mb-5">
        <div class="text-center mb-0">
            <h2>PRUEBAME</h2>
        </div>
        <div class="h-full md:flex">
            <div class="md:flex md:flex-grow md:justify-around md:items-center md:rounded overflow-hidden shadow-lg p-4">
                <div>
                    <h2 class="text-center">Felicidades</h2>
                    <p class="text-center">Puedes crear tickets de acceso, tener historial de productos y usuarios de maximo 30 items</p>
                </div>
                <div class="h-64">
                    <app-create-simple-event></app-create-simple-event>
                </div>
            </div>
        </div>
    </div>
</body>
