<body class="flex flex-grow justify-center">
   <div class="w-4/5">
      <div class="w-full">
         <div>
            <div>
               <div>
                 {{store.name}}
               </div>
               <div>
                 {{store.nitStore}}
               </div>
               <div>
                   <b>cargar bodega</b>
               </div>
               <div>
                  <button (click)="showDialog()"><h2>(+) Create event</h2></button>
               </div>
            </div>
         </div>
      </div>
      <div class="w-full">
         <div>
            <h2>Me workSpace</h2>
            <body class="flex flex-grow justify-around w-full">
               <div class="w-11/12 md:flex md:flex-nowrap gap-3 md:p-5">
                  <div class="md:w-2/3">
                     <h2>Eventos</h2>
                  </div>
                  <div class="md:w-2/3">
                     <h2>Productos</h2>
                  </div>
                  <div class="md:w-2/3">
                     <h2>Tickets</h2>
                  </div>
                  <div class="md:w-2/3">
                     <h2>Users</h2>
                  </div>
                  <div class="md:w-2/3">
                     <h2>Inventario</h2>
                  </div>     
                  <div class="md:w-2/3">
                     <h2>Bodega</h2>
                  </div> 
               </div>
            </body>
        </div>
      </div>
      <div>
         <div>
            <div>
               <h2>me events</h2>
               <div>
                  Debe venir una lista de eventos
               </div>
            </div>
         </div>
      </div>
  </div>  
</body>