<div>
    <div>
        <div>
          {{store.name}}
        </div>
        <div>
          {{store.nitStore}}
        </div>
        <div>
            <b>cargar bodega</b>
        </div>
    </div>
    <div>
        <h2>Me workSpace</h2>
        <div>
             <div>
                <h2>Eventos</h2>
             </div>
             <div>
                <h2>Productos</h2>
             </div>
             <div>
                <h2>Tickets</h2>
             </div>
             <div>
                <h2>Users</h2>
             </div>
             <div>
                <h2>Inventario</h2>
             </div>     
             <div>
                <h2>Bodega</h2>
             </div> 
        </div>
    </div>
    <div>
        <h2>me events</h2>
        <div>
           Debe venir una lista de eventos
        </div>
    </div>
</div>
